

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Login</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <script src="/bundle/assets_admin.js"></script>
    @if (TempData["message"] != null)
    {
        <script>alert('@TempData["message"]');</script>
    }
</head>
<body>
    <div class="content">
        <div id="app">

            <login-component></login-component>

        </div>




    </div>
    <script src="/bundle/AdminHome.js"></script>
</body>
</html>
