@{ ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="content">
    <div id="app">
        <about-component></about-component>

    </div>
</div>
@section scripts {
    <script src="@Url.Content("~/bundle/Home.js")"></script>
   
}
