@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div id="app">

        <home-component pdf-url="/Home/ExportPdf" import-pdf-url="/Home/ImportPdf"></home-component>
       
    </div>




</div>
@section scripts {

    <script src="@Url.Content("~/bundle/Home.js")"></script>
   
}