@using Newtonsoft.Json;
@{ ViewData["Title"] = "Monhoc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<div class="content">
    <div id="app">
        <edit-component :monhocs="@JsonConvert.SerializeObject(ViewBag.listmon)"  mamh="@ViewBag.mamh" :tienquyets="@JsonConvert.SerializeObject(ViewBag.tienquyet)"></edit-component>

    </div>

</div>

@section scripts {

    <script src="@Url.Content("~/bundle/AdminTienquyet.js")"></script>

}



