
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Danh sách môn học";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div id="app">
        <adminmonhoc-component :monhocs="@JsonConvert.SerializeObject(ViewBag.listmon)" :nganhs="@JsonConvert.SerializeObject(ViewBag.listnganh)" khoahoc="@ViewBag.id" search-url="/AdminMonhoc/Search"  editmuctieu-url="/AdminMonhoc/EditMuctieu" edit-url="/AdminMonhoc/Edit" editnoidung-url="/AdminMonhoc/EditNoidung"></adminmonhoc-component>

    </div>
</div>

@section scripts {


    <script src="@Url.Content("~/bundle/AdminMonhoc.js")"></script>

}

