@using Newtonsoft.Json;
@{ ViewData["Title"] = "Monhoc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<div class="content">
    <div id="app">
        <edit-component :monhoc="@JsonConvert.SerializeObject(ViewBag.mamh)"  :chuyennganhs="@JsonConvert.SerializeObject(ViewBag.chuyennganh)"></edit-component>

    </div>

</div>

@section scripts {

    <script src="@Url.Content("~/bundle/AdminMonhoc.js")"></script>

}



